body{
    background: url(../img/imagenDeFondo.jpg);
    background-repeat: no-repeat;
    background-size: 1700px 500px;
    background-color: #fffe65;
}
nav li{
    display: inline-block;
    background-color: rgba(128, 128, 128, 0);
    padding: 4px 70px;
    text-align: center;
    cursor: default;

}
ul{
    padding: 0px;
    font-size: 20px;
    color: #e79e37 ;
    text-shadow: 0px 0px 10px #cd3301;
}
a{
    color: #cd3301;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px #000000;
}
#contenido{
    margin:0 auto;
    width: 1000px;
}
.cuadros{
    width: 240px;
    border: 1px lightgray solid;
    padding: 5px 5px 22px 5px;
    text-align: center;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 0px 4px gray;
}